<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/metas', {title: "Register"}); %>
  </head>
  <body>
    <%- include('layout/navbar', {name: "John Doe"}); %>
    <h1>Register page</h1>
  </body>
</html>
